<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <div class="alert alert-info">
        <h3>Video Nr 01</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita odit
          quia vero cum amet ipsa, non perspiciatis animi, sed qui vitae illo,
          facere debitis ad incidunt deserunt neque? Aliquid, quidem!
        </p>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-info">
        <h3>Video Nr 02</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita odit
          quia vero cum amet ipsa, non perspiciatis animi, sed qui vitae illo,
          facere debitis ad incidunt deserunt neque? Aliquid, quidem!
        </p>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-info">
        <h3>Video Nr 03</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita odit
          quia vero cum amet ipsa, non perspiciatis animi, sed qui vitae illo,
          facere debitis ad incidunt deserunt neque? Aliquid, quidem!
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="alert alert-danger">
        <h3>Video Nr 04</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita odit
          quia vero cum amet ipsa, non perspiciatis animi, sed qui vitae illo,
          facere debitis ad incidunt deserunt neque? Aliquid, quidem!
        </p>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-danger">
        <h3>Video Nr 05</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita odit
          quia vero cum amet ipsa, non perspiciatis animi, sed qui vitae illo,
          facere debitis ad incidunt deserunt neque? Aliquid, quidem!
        </p>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-danger">
        <h3>Video Nr 06</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita odit
          quia vero cum amet ipsa, non perspiciatis animi, sed qui vitae illo,
          facere debitis ad incidunt deserunt neque? Aliquid, quidem!
        </p>
      </div>
    </div>
  </div>
</div>
